.one_card_buy{
    max-width: 100%;
    margin-top: -23px;
    text-align: left;
}
.card-title_buy{
    font-size: 30px;
    margin-bottom: 24px;
    margin-left: 90px;
    color: white;
}
.card-text_buy{
    font-size: 22px;
    margin-top: -27px;
    padding: 11px;
    color: white;
}
.error_buy{
 color: red;
 font-size:18px ;
}
.register
{
    background-color: #8fbc8761;
    width: 100%;
    height: 100%;

}
.frm_buy
{
    box-shadow: 30px 30px 30px 30px #1c2c1c;
    background-color:#acd2b9d1;
    padding-left: 130px;
    height: auto;
    margin-top: 7px;
}
.btn1_sub{
    height: 36px;
    width: 140px;
    background-color:#007bff;
    color: white;
    font-size: 23px;
    margin-left: -6px;
    margin-top: -20px;
    border-radius: 9px;
}
.btn1_cancel{
    height: 36px;
    width: 140px;
    background-color: #007bff;
    color: white;
    font-size: 23px;
    margin-left: 31px;
    margin-top: -20px;
    border-radius: 9px;
    
    }


#container{
/* max-width: 100%;
padding-top: 43px;
height: 1200px; */

background: url('./bg1.jpeg') no-repeat;
text-align: left;
border: solid 1px cornsilk;
max-width: 100%;
background-position: center;
background-size: cover;
height: 1000px;
width: 1703px;
    
    /* margin-top: 70px; */
}
.card_buy{
    display: inline-block;
    width: 68%;
    padding-top: 40px;
    height: 295px;
    font-size: 23px;
    margin-top: 50px;
    background-color: #040404;
    box-shadow: 27px 31px 30px 30px #364735;
}
.updates_btn{
    font-size: 20px;
}
.tle_buy{
    font-size: 2rem;
    color: #141514;
    padding-top: -1px;
    margin-left: 50px;
}
.one_buy{
    font-size: 18px;
    height: 30px;
}
.label_buy1 {
    font-size: 20px;
}
.label_buy2{
    font-size: 20px;
    margin-left: -27px;
}
.label_buy3{
    font-size: 20px;
    margin-left: -64px;
}
.label_buy4{
    font-size: 20px;
    margin-left: -29px;
}
.label_buy5{
    font-size: 20px;
    margin-left: 3px;
}
.label_buy51{
    font-size: 20px;
    margin-left: -5px;
}
.label_buy6{
    font-size: 20px;
    margin-left: 8px;
}
.label_buy7{
    font-size: 20px;
    margin-top: 15px;
    margin-left: -46px;
}
.label_buy8{
    font-size: 20px;
    margin-top: 15px;
    margin-left: -68px;
}
.updates_btn_buy{
    font-size: 21px;
    padding-top: 5px;
    width: 236px;
    margin-left: 31px;
}
.one_buy_calendar{
    font-size: 18px;
    width: 236px;
    height: 33px
}