.navbar{
  background-color: rgb(29, 29, 37);
  width: 100%;
  height: 95px;

 }
 .comp_name{
    font-size: 30px;
 }
 .nav_text{
  font-size: 23px;
     color: white;
 }
 .nav_button{
     border: none;
     background-color: inherit;
     color: #6db6b6;
 }
 .img_paddys{
    border-radius: 50%;
    height: 50px;
    width: 100px;
    margin-left: -321px;
 }
 .nav_title{
 
  
   color: #96ad00;
   font-size: 28px;
   margin-left: -252px;
 }
 .paddy_logo_nav{
   width: 104px;
   height: 69px;
   border-radius: 50%;
   margin-left: -98px;
}
 .nav_button_user{
    font-size: 20px;
 }
 .nav_logo_img{
   height: 50px;
   width: 42px;
   border-radius: 50%;
 }