.navbar{
    
  background-color: rgb(29, 29, 37);
    width: 100%;
    height: 220px;
    
 }
 .comp_name{
    font-size: 23px;
 }
 .nav_text{
   font-size: 41px;
     color: white;
 }
 .nav_button{
     border: none;
     background-color: inherit;
     color: #6db6b6;
 }
 .img_paddys{
    border-radius: 50%;
    height: 50px;
    width: 100px;
    margin-left: -321px;
 }
 .nav_title{
   font-size: 67px;
   font-family: cursive;
   /* margin-left: -22px; */
   color: #96ad00;
   width: 171px;
   height: 112px;
   border-radius: 50%;
   margin-left: -168px;
 }
 .paddy_logo_nav{
  width: 220px;
  height: 188px;
  border-radius: 50%;
  margin-left: 54px;
 }
 