.slide-container{
    padding: 70px;
}
.btn-primary{
  color: white;
    font-size: 32px;
    height: 95px;
    width: 350px;
}

.card_text_info{
  font-size: 32px;
}
.home_paddy_img{
  width: 1944px;
  height: 700px;
}
.scroll_quotes{
  font-size: 4rem;
    color: #9292c6;
}
.header{
  font-size: 6.5rem;
  background-color: #d9d4d4;
 
  height: 160px;
  padding-top: 36px;
    color: #424257;
}
.related_side{
  background-color: grey;
    height: 90px;
    font-size: 55px;
}
.para_body{
  height: 349px;
}
.content_para{
  height: 244px;
}
.img_title{
  font-size: 7.75rem;
  text-align: center;
  color: #06060f;
  padding-bottom: 218px;

}
.card-img-top{
  height: 500px;
  width: 450px;
}
.card-columns{
  width: auto;
  height: 900px;
}
.card-title_info{
  font-size: 60px;
}
.one_card{
  width: 600px;
  padding-left: -17px;
  margin-left: 151px;
  background-color: #caca9b;
}


.carousel-item > img {
  -webkit-animation: zoom 20s;
  animation: ease-in 20s;
}

.container_para{
  height: 872px;
}

.container{
  max-width: 100px;
  margin-top: -23px;
  text-align: left;
}
 .sticky {
    position: relative;
    top: 10px;
  }
  
  .menu {
    background-color: rgb(245, 219, 219);
    color: #191818;
    height: 515px;
    font-size: 38px;
  }
  .related {
    background-color: grey;
    height: 34px;
    font-size: 20px;
  }
  
  .para_body{
    display: flex;
    flex-wrap: wrap;
    margin-right: -11px;
    margin-left: -15px;
    margin-top: 37px;

  }
  .head_dash{
    font-size: 4.5rem;
    color: #785d5d;
  }
  .para_dash{
    margin-top: 32px;
    font-size: 36px;
    color: black;
  }



.dates{
    color: rgb(109, 70, 96);
}
  .marquee {
    width: 100%;
    overflow: hidden;
    box-sizing: content-box;
    margin-top: 0;
    margin-bottom: 46px;
    animation: marquee 60s linear infinite;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

/* Make it pretty */
.microsoft {
  padding-left: 1.5em;
  position: relative;
  font: 36px 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
  color: #2d2d91;
}
.microsoft:before, .microsoft::before {
    z-index: 2;
    content: '';
    position: absolute;
    top: -1em; left: -1em;
    width: .5em; height: .5em;
    
}

.microsoft:after, .microsoft::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 2em; height: 2em;
    background-image: linear-gradient(90deg, white 70%, rgba(255,255,255,0));
}