.rec_tle{
    font-size: 2.5rem;
    color: #180c85;

}
.rec_label{
    font-size: 25px;
}
.recep{
    font-size: 25px;
    height: 50px;
    width: 100px;
}
.recep_inp{
    width: 250px;
    height: 36px;
    margin-left: 43px;
    font-size: 20px;
}
.recep_inp2{
    width: 250px;
    height: 36px;
    margin-left: 5px;
    font-size: 20px;
}
.login_receipt{
    font-size: 25px;
    width: 119px;
    height: 42px;
    background-color: rgb(73, 73, 231);
    color: white;
    margin-left: 40px;
    border-radius: 20px;
}
.receipt_body{
    background-position: center;
    background: url('./recep1.jpeg') no-repeat;
    border: solid 1px cornsilk;
    background-size: cover;
    height: 900px;
    width: 1599px;
}
.recep_body {
    height: 263px;
    background-color: #b5e6f885;
    border-radius: 25px;
    margin-top: 42px;
    padding: -29px;
    margin-left: 543px;
}
.card1_receipt{
    border: 2px solid black;
    font-size: 20px;
    margin-left: 547px;
    margin-top: 59px;
    width: 500px;
}