.rec_tle{
    font-size: 7.5rem;
    color: #180c85;
    margin-top: -51px;
    padding-bottom: 15px;

}
.rec_label{
    font-size: 55px;
}
.recep{
    font-size: 25px;
    height: 50px;
    width: 100px;
}
.recep_inp{
    width: 450px;
    height: 67px;
    margin-left: 126px;
    font-size: 40px;
}
.recep_inp2{
    width: 450px;
    height: 67px;
    margin-left: 35px;
    font-size: 40px;
}
.login_receipt{
    font-size: 40px;
    width: 190px;
    height: 71px;
    background-color: rgb(73, 73, 231);
    color: white;
    margin-left: 44px;
}
.receipt_body{
    background-position: center;
    background: url('./recep1.jpeg') no-repeat;
    border: solid 1px cornsilk;
    background-size: cover;
    height: 1500px;
    width: 3099px;
}
.recep_body{
    height: 450px;
    background-color: #b5e6f885;
    border-radius: 25px;
    margin-top: 151px;
    padding: 83px;
}
.card1_receipt{
    width: 1063px;
    margin-left: 1014px;
    margin-top: 150px;
    background-color: #238fecd9;
    box-shadow: 25px 25px 25px 25px #a9b2af;
}