.logout{
    height: 60px;
    z-index: -10 ;
    position: absolute;
    background-image: radial-gradient(circle, #f6d68d, #ffcea7, #ffcdc6, #ffd2df, #eedaea);
    width: 100%;
    box-shadow: 2px 2px pink;
    
}
.img_paddys{
    border-radius: 50%;
    height: 50px;
    width: 100px;
    margin-left: -321px;
 }