.reg_body{
    background: url('./bg3.jpeg') no-repeat;
padding-top: 25px;
    /* padding-right: 921px; */
    justify-content: left;
    /* background: linear-gradient(to top, #99ff99 0%, #ffffff 88%); */
    padding-bottom: 75px;
    /* border: solid 1px cornsilk; */
    background-position: center;
    /* background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEBASEhIVFRIW…qaed40wxqPUvM6vsnFWFzfl/p/rM2pye/tRSMltzOpRQpIr8RxI7CfVNca2SKJQVmqOTg//9k=) no-repeat; */
    border: solid 1px cornsilk;
    background-size: cover;
    height: 800px;
    width: 1500px;
}

.regcont{
    text-align: left;

}
.regimg{
    width: 750px;
    height: 500px;
    padding-left: 314px;
}
.register_container{
    max-width: 1083px;
    margin-top: 109px;
    text-align: center;
    background: url('./bg1.jpeg') no-repeat;
}
.frm_reg{
    padding-left: 147px;
    background-color: #a1a28b87;
    height: auto;
    margin-left: -35px;
}
.card-title{
    margin-bottom: -2.25rem;
    font-size: 40px;
    margin-left: -80px;
    margin-bottom: 11px;

}
.card_body{
    background-color: lightpink;
    width: 697px;
    margin-top: 50px;
    padding-top: 80px;
}
.register_fields_1{
    font-size: 23px;
    padding-top: 22px;
    margin-left: 43px;
    margin-top: -18px;
}
.register_fields_2{
    font-size: 23px;
    padding-top: -2px;
    margin-left: 93px;
}
.register_fields_3{
    font-size: 23px;
    padding-top: -12px;
    margin-right: 7px;
    margin-left: 40px;
}
.register_fields_4{
    font-size: 23px;
    /* padding-top: 15px; */
    margin-left: -41px;
    margin-top: 2px;
}
.register_fields_5{
    font-size: 23px;
    /* padding-top: 15px; */
    margin-left: 2px;
    margin-top: 4px;
}
.one_input{
    width: 292px;
    height: 34px;
    font-size: 25px;
}
.btn1_reg{
    margin-right: -42px;
    color: white;
    background-color: #425bd8;
    font-size: 23px;
    width: 264px;
    margin-top: 4px;
    height: 46px;
    border-radius: 32px;
}
.btn2_reg{
    
    margin-right: -148px;
    color: white;
    background-color: #425bd8;
    font-size: 23px;
    width: 264px;
    margin-top: 23px;
    height: 46px;
    border-radius: 32px;
}
.already{
    
    font-size: 21px;
    color:#137696;
    margin-left: -354px;
}
.cancel_reg{
    font-size: 23px;
    margin-left: 56px;
    color: #137696;
   }
   .error_reg{
       color: red;
       font-size: 20px;
    margin-left: 220px;
   }

  