body{
    /* background-image: radial-gradient(circle, #f6d68d, #ffcea7, #ffcdc6, #ffd2df, #eedaea); */
}
.main_page_bck{
    
    width: 100%;
    height: 100%;
}
.registration_container{
    width: 60%;
    margin: 187px;
    
}
.register_form{
    box-shadow: 10px 10px 10px 10px #b9ab8c;
    width: 800px;
    height: auto;
    background-color: #ffffff;
    text-align: center;
    z-index: -1;
    margin-left: 207px;
    margin-top: 3px;
    padding: 64px;
    position: absolute;
    top: 164px;
    background-color: #f1efdb;
}
.sign_title{
    font-size: 2.75em;
    margin-top: -20px;
    margin-left: 137px;

}
.content{
    font-size: 20px;
    color: #9a7c27;
    font-family: initial;
}
.contentc{
    font-size: 20px;
    color: #9a7c27;
    font-family: initial;
    margin-left: -72px;;
}
.button{
    background-color: white;
    color: #9a7c27;
    width: 250px;
    height: 50px;
    box-shadow: 1px 1px grey;
    font-size: 25px;
    margin-left: 80px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #e8dcba8c;
}
.already_user{
    z-index: 1;
    position: relative;
    top: 23px;
    right: 71px;
    margin-left:83px;
}
.button_login{
    background-color: white;
    color: #9a7c27;
    width: 250px;
    height: 50px;
    box-shadow: 1px 1px grey;
    font-size: 25px;
    z-index: 1;
    position: relative;
    left: -58px;
    top: 24px;
    border-radius: 20px;
    background-color: #e8dcba8c;
}

.content_field{
    border: none;
    border-bottom-style: groove;
    mask-border-width: 0.15px;
    border-color: #9a7c27 ;
    height: 50px;
   
}
.errorMsg{
    color: red;
}