/* .foot_body{

} */
.icons:hover{
   background-color: white;
}
.paddy_logo{
    width: 120px;
    height: 60px;
    border-radius: 50%;
    margin-left: 35px;
 }
.page-footer{
    background-color: rgb(29, 29, 37);
    color: white;
    height: 320px;
    font-size: 22px;
    width: 100%;
   
}
.list-inline-item{
    width: 45px;
}
.cpy_right{
    text-align: right;
    margin-top: 25px;
    padding-right: 195px;
}