.page{
    display: grid;
    grid-template-columns: 50% 50%;
    
    background: url('../Contact/cont1.jpeg') no-repeat;
    border: solid 1px cornsilk;
background-size: cover;
height: 1500px;
width: 3099px;
}
.contact_us{
    background-color: rgb(124, 129, 46);
    height: 550px;
    width: 470px;
    border-radius: 50px;
    margin-left: 251px;
    margin-left: 151px;
    margin-top: 30px;
    padding-top: -1px;

}
.heading{
    padding-top: 118px;
    padding-left: 26px;
    font-size: 33px;
 
}
.space{
    background-color: white;
}
.contactinfo{
    text-align: left;
    padding-top: 56px;
    width: 900px;
    margin-left: -350px;
}


.info {
    font-family: auto;
    margin-top: -1px;
    font-style: oblique;
    font-size: 35px;
    background-color: #ffffff30;
    margin-left: -335px;
    margin-right: 415px;
}
.img_paddy{
    width: 117px;
    border-radius: 50%;
    z-index: 2;
    top: 96px;
    position: relative;
    left: 15px;
}
.infotitle{
   color: rgb(124, 129, 46);
   font-size: 24px;
   margin-left: -409px;
   
}
.page{
    padding: 75px;
    /* margin: 50px; */

}
.name{
    border: none;
    border-bottom-style: solid;
    -webkit-mask-box-image-width: 2px;
    mask-border-width: 2px;
    color: black;
    width: 45%;
    background-color: #ffffff00;
    font-size: 25px;
}
.name1{
    padding: 5px 50px 5px 0px;
    color: black;
    font-size: 23px
}

.submitt_contact{
    height: 40px;
    width: 196px;
    font-size: 25px;
    color: black;
    background-color: rgb(124, 129, 46);
    
   
}