.page{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 19px;
}
.contact_us{
    background-color: rgb(165, 158, 62);
    height: 600px;
    width: 569px;
    margin-left: 251px;
    margin-left: 51px;

}
.heading{
    padding-top: 118px;
    padding-left: 26px;
    font-size: 21px;
 
}
.space{
    background-color: white;
}
.contactinfo{
    background-color: white;
    padding-left: 314px;
    text-align: left;
    padding-top: 12px;
}
.info{
    color: white;
    font-family: initial;
    margin-top: -16px;
    font-style: oblique;
    font-size: 26px;
    background-color: white;
    margin-left: -215px;
    margin-right: 415px;
}
.img_paddy{
    width: 88px;
    border-radius: 50%;
    z-index: 2;
    top: 96px;
    position: relative;
    left: 15px;
}
.infotitle{
    color: #a58f23;
    font-size: 28px;
    font-family: inherit;
    margin-left: -273px;
   
}
.page{
    padding: 75px;
    /* margin: 50px; */

}
.name{
    border: none;
    border-bottom-style: solid;
    mask-border-width: 2px;
    color: black;
    width: 65%;
    
}
.name1{
    padding: 16px;
    padding-right: 41px;
    color: black;
    font-size: 20px;
}
.submitt{
    background-color: white;
    border: none;
    color: rgb(173, 167, 77);
    font-size: 22px;
    z-index: -1;
    position: absolute;
    right: 710px;
}